* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: #ffffff;
    min-height: 100vh;
    scroll-behavior: smooth;
}
a {
    color: #05f5d5;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #05f5d5;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

    
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #eaeaea;
}
header h1 {
    font-weight: 700;
    font-size: 1.8rem;
    color: #05f5d5;
}
nav a {
    margin-left: 2rem;
    font-weight: 600;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    padding: 2rem;
}

.hero h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #05f5d5;
}

.hero p {
    font-size: 1.2rem;
    color: #fff;
    max-width: 600px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn-primary {
    background-color: #05f5d5;
    color: white; 
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color:#05f5d5;
}

section {
    margin-bottom: 2rem;
    gap: 2rem;
}

section h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid#05f5d5;
    display: inline-block;
    padding-bottom: 0.3rem;
}

    
.projects-grid {
    display: flex;
    gap: 6rem;
}

.project-card {
    background: white;
    border-radius: 10px;
    padding: 1.5rem;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 1px 1px 2px black, 0 0 25px #03ffdd, 0 0 5px #03ffdd;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
    object-fit: cover;
    height: 180px;
}

.project-card h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.project-card p {
    color: #555555;
    font-size: 0.95rem;

}


.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    background: #05f5d5;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(19, 200, 255, 0.3);
}
.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.social-icons a {
  color: #ffffff;
  font-size: 28px;
  transition: transform 0.3s, color 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  color: #00ffff; /* neon blue on hover */
  transform: scale(1.2);
}


    
footer {
    text-align: center;
    padding: 2rem 1rem;
    border-top: 1px solid #eaeaea;
    color: #777;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    header {
       flex-direction: column;
       gap: 1rem;
    }
    .hero h2 {
       font-size: 2rem;
      }
}